/* home */

img{
    width:100%; height: 250px;
}

.paragraph{
    text-align: center;
    font-size: medium;
}
.index{
    border-radius: 5px;
    border:1px gray;
    background-color:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    border-radius: 4px;
    box-sizing: border-boxs;
    text-align: center;
    padding: auto;
    width: 100%;
    color: white;
    }
.index a{
    text-align: center;
    text-decoration: none;
    font-size: large;
    border-radius: 5px;
    border:1px rgb(0, 0, 0);
    background-color:#ffffff;
    border-radius: 4px;
    padding: auto;
    width: 33%;
    float: left;
    display: block;
    box-sizing: border-box;       
    }
.index a:hover{
    background-color: rgb(18, 178, 227);
    
    }
hr{
        width:100%; height:5px ; color: black; background-color: black;
    }
li{
    text-align: left;
}
.con{
    padding: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* register */

form{color:#f2f2f2; width:90%; height:auto; border-radius:2px; padding:10px;
}
input[type=text],select, input[type=email], input[type=date],input[type=number]{
    width:100%; padding:14px 8px; margin:15px; border-radius:5px;
}
input[type=submit]{width:30%; padding:14px; margin:5px; border-radius:5px;
    background-color:rgb(52, 53, 53); color:#ffffff; font-size:20px;margin-left: 30%;
}
input[type=submit]:hover{ background-color:#27ae60; color:#ffffff;
}
label{
    color: black;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;

}
th, td{
        border: 1px solid #ddd;
        padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.footer {
    width: 97%;
    padding:20px;
    background-color: #0abde3;
    color: white;
    text-align: center;
    margin-top:20px;
}
.description{
    text-align: center;
}



